{
	"plugins": ["react", "import", "@typescript-eslint", "prettier", "jest"],
	"extends": [
		"airbnb-typescript",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"plugin:prettier/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},

	"rules": {
		"jsx-a11y/click-events-have-key-events": 1,
		"jsx-a11y/interactive-supports-focus": 1,
		"jsx-a11y/no-static-element-interactions": 1,
		"jsx-a11y/anchor-is-valid": 1,
		"jsx-a11y/no-autofocus": 1,
		"react/no-array-index-key": 1,
		"react/button-has-type": 1,
		"curly": ["error", "all"],
		"no-console": "error",
		"prettier/prettier": "error",
		"comma-dangle": ["error", "always-multiline"],
		"quote-props": ["error", "as-needed"],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
		],
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"prefer-const": ["error", { "destructuring": "all" }],
		"no-var": "error",
		"guard-for-in": "error",
		"no-nested-ternary": "off",
		"import/order": [
			"error",
			{
				"newlines-between": "never",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				},
				"groups": [["builtin", "external", "internal"], "unknown", "parent", "index", "sibling"]
			}
		]
	},
	"overrides": [
		{
			"files": ["**/*.tsx"],
			"rules": {
				"react/prop-types": "off"
			}
		}
	]
}
