@import "~bulma/bulma";
.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

nav.navbar {
  max-height: 52px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.32);
  //background-color: #026aa7; //todo: main page color
  padding: 0px 2px;
  .navbar-item.white {
    border-radius: 5px;
    margin: 5px 2px;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: white;
    padding: 10px 14px;
  }
  .left-margin {
    margin-left: 5px;
  }
  .white {
    color: white;
  }
}
